@{
    ViewData["Title"] = "Your request is already being processed!";
}
<div class="row" id="title">
    <h1 class="col">
        @ViewData["title"]
    </h1>
</div>

<div class="row">
    <div class="col">
        <h3>You are unable to ammend your request information at this time, as we have begun processing it.</h3>
        <p>We will be alerted that you have attempted to revisit the form, and will not finish processing it 
        until you contact us. Please contact us as soon as possible here: development@sampleuniversity.edu
        </p>
    </div>
</div>