@{
    ViewData["Title"] = "SSO Request Updated";
}
<div class="row">
    <h1 class="col" id="title">
        @ViewData["Title"]
    </h1>
</div>

<div class="row">
    <div class="col">
        <h2>Application Name: @ViewBag.AppName</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            Your request has been updated. Thank you.
        </p>
    </div>
</div>