@{
    ViewData["Title"] = "SSO Technical Details Submitted";
}
<div class="row">
    <h1 class="col" id="title">
        @ViewData["Title"]
    </h1>
</div>

<div class="row">
    <div class="col">
        <h2>Application Name: @ViewBag.AppName</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <p>
            Thank you for submitting the technical details. Please check your email for further information and instructions.
        </p>
    </div>
</div>